h1, h2, h3, h4, h5, h6{
	margin-block-start:0px;
	margin-block-end:0px;
	font-weight:normal;
}

body{
	background-color:#aaaaaa;
}

header{
	text-align:center;
	background-color:#ffffff;
	border:3px solid #111111;
	padding:25px;
	margin-top:30px;
	display:block;
}

header h1{
	font-family:courier;
	font-size:28pt;
	text-transform:uppercase;
}

header h2{
	font-family:arial;
	font-size:14pt;
	text-transform:uppercase;
	margin-top:10px;
}

div.table{
	background-color:#ffffff;
}

div.row{
}

.cell{
}

aside.left{
	margin-top:10px;
	padding:20px;
	background-color:#eeeeee;
}

aside.left section h1{
	font-family:arial;
	font-size:16pt;
	margin-top:30px;
	margin-bottom:5px;
}

aside.left section section h1{
	font-family:arial;
	font-size:12pt;
	margin-top:30px;
	margin-bottom:0px;
}

aside.left span{
	font-family:calibri;
	line-height:1.5em;
}

aside.left div.block{
	margin-bottom:15px;
}

article.right{
	padding:20px;
	display:block;
}

article.right .block h1{
	font-family:arial;
	font-size:16pt;
	margin-top:30px;
	margin-bottom:5px;
	border-bottom:1px solid #000000;
}

article.right .block h2{
	font-family:candara;
	font-size:12pt;
}

article.right .block p{
	text-indent:40px;
}

article.right .block .block h1{
	font-family:arial;
	font-size:14pt;
	margin-top:30px;
	margin-bottom:5px;
	border-bottom:0px solid #000000;
}

