h1, h2, h3, h4, h5, h6{
	margin-block-start:0px;
	margin-block-end:0px;
	font-weight:normal;
}

body{
	background-color:#aaaaaa;
}

header{
	position:absolute;
	width:550px;
	text-align:center;
	background-color:#ffffff;
	border:3px solid #111111;
	padding:25px;
	margin-left:-300px;
	left:50%;
	margin-top:30px;
}

header h1{
	font-family:courier;
	font-size:34pt;
	text-transform:uppercase;
}

header h2{
	font-family:arial;
	font-size:16pt;
	text-transform:uppercase;
	margin-top:10px;
}

div.table{
	width:975px;
	height:100%;
	background-color:#ffffff;
	margin:auto;
	display:table;
}

div.row{
	height:100%;
	display:table-row;
}

.cell{
	height:100%;
	display:table-cell;
}

aside.left{
	padding-top:270px;
	padding-left:20px;
	padding-right:20px;
	width:280px;
	min-height:100%;
	overflow-y:visible;
	background-color:#eeeeee;
	padding-bottom:20px;
}

aside.left section h1{
	font-family:arial;
	font-size:16pt;
	margin-top:30px;
	margin-bottom:5px;
}

aside.left section section h1{
	font-family:arial;
	font-size:12pt;
	margin-top:30px;
	margin-bottom:0px;
}

aside.left span{
	font-family:calibri;
	line-height:1.5em;
}

aside.left div.block{
	margin-bottom:15px;
}

article.right{
	padding:20px;
	padding-top:270px;
}

article.right .block h1{
	font-family:arial;
	font-size:16pt;
	margin-top:30px;
	margin-bottom:5px;
	border-bottom:1px solid #000000;
}

article.right .block h2{
	font-family:candara;
	font-size:12pt;
}

article.right .block p{
	text-indent:40px;
}

article.right .block .block h1{
	font-family:arial;
	font-size:14pt;
	margin-top:30px;
	margin-bottom:5px;
	border-bottom:0px solid #000000;
}

iframe.video{
	display:table;
	margin:auto;
	width:560px;
	height:315px;
}
