h1, h2, h3, h4, h5, h6{
	margin-block-start:0px;
	margin-block-end:0px;
	font-weight:normal;
}

@page{
	size:auto;
	margin:1cm 1cm 1cm 1cm;
}

body{
}

header{
	position:absolute;
	z-index:20;
	width:550px;
	text-align:center;
	background-color:#ffffff;
	border:3px solid #111111;
	padding:25px;
	margin-left:-300px;
	left:50%;
	margin-top:30px;
}

header h1{
	font-family:source code pro, courier;
	font-size:34pt;
}

header h1 b{
	text-transform:uppercase;
}

header h2{
	font-family:arial;
	font-size:16pt;
	text-transform:uppercase;
	margin-top:10px;
}

div.backgroundPrint{
	width:975px;
	height:100%;
	background-color:#ffffff;
	margin:auto;
	display:table;
	position:fixed;
	top:0px;
	z-index:1;
	border:2pt solid #000000;
}

div.table{
	width:975px;
	height:100%;
	background-color:#ffffff;
	margin:auto;
	display:table;
	z-index:10;
	border:2pt solid #000000;
	border-top:0px solid #000000;
	border-bottom:0px solid #000000;
	position:relative;
}

div.row{
	height:100%;
	display:table-row;
}

.cell{
	height:100%;
	display:table-cell;
}

.left{
	padding-top:270px;
	padding-left:20px;
	padding-right:20px;
	width:280px;
	min-height:100%;
	overflow-y:visible;
	background-color:#eeeeee;
	padding-bottom:20px;
	-webkit-print-color-adjust: exact;
}

.left section h1{
	font-family:arial;
	font-size:16pt;
	margin-top:30px;
	margin-bottom:5px;
}

.left section section h1{
	font-family:arial;
	font-size:12pt;
	margin-top:30px;
	margin-bottom:0px;
}

.left span{
	font-family:calibri;
	line-height:1.5em;
}

.left div.block{
	margin-bottom:15px;
}

.right{
	padding:20px;
	padding-top:270px;
	background-color:#ffffff;
	-webkit-print-color-adjust: exact;
}

.right .block h1{
	font-family:arial;
	font-size:16pt;
	margin-top:30px;
	margin-bottom:5px;
	border-bottom:1px solid #000000;
}

.right .block h2{
	font-family:candara;
	font-size:12pt;
}

.right .block p{
	text-indent:40px;
}

.right .block .block h1{
	font-family:arial;
	font-size:14pt;
	margin-top:30px;
	margin-bottom:5px;
	border-bottom:0px solid #000000;
}

section.video{
	display:none;
}
